.accordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  input:checked + label .plus-minus {
    opacity: 1;
    .vrt {
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transform: rotate(90deg);
      opacity: 0;
    }
    .hznt {
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transform: rotate(90deg);
      background-color: $highlight-blue;
    }
  }
  
  .plus-minus {
      position: relative;
      margin-right: 30px;
      height: 30px;
      width: 30px;
      opacity: .7;

      .vrt {
        position: absolute;
        background-color: $dark-blue;
        width: 2px;
        height: 30px;
        top: 50%;
        left: 50%;
        margin-left: -1px;
        margin-top: -15px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
      }
      .hznt {
        position: absolute;
        background-color: $dark-blue;
        width: 30px;
        height: 2px;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -1px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
        opacity: 1;
      }
  }



  // Hide radio buttons - we only want labels to be visible and clickable.
  input[type='radio'] {
    display: none;
  }

  label {
    font-size: 24px;
    cursor: pointer;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    margin-top: 26px;
    margin-bottom: 26px;
    
    &:hover {
      color: $highlight-blue;
    }
  }
  
  input:checked + label {
    color: $highlight-blue;
    cursor: initial;
  }

  input:not(:checked) + label {
    color: $dark-blue;
  }
  
  input + label + div {
    overflow: hidden;
    position: relative;
    padding: 0 1.5em;
    color: $p-text-color;
    flex: 1;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
  }

  input[type='radio']:not(:checked) + label + div {
    flex: 0;
  }
}
