.cover-section {
    .cover {
        display: flex;
        flex-direction: column;
        color: white;
        height: 100vh;
    }

    #bgvid {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    .cover-logo {
        img {
            top: 70px;
            position: absolute;
            height: 31px;
            z-index: 10;
        }
    }
    
    .cover-content {
        z-index: 10;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    h1 {
        font-weight: bold;
    }

    h1,
    h2 {
        font-size: 26px;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 12px;
    }

}

.cover-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.15) 50%,
        rgba(0, 0, 0, 0.05) 100%
    );
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .cover-section {
        h1,
        h2 {
            font-size: 34px;
        }
        h3 {
            font-size: 14px;
        }
    }
  }
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .cover-section {
        h1,
        h2 {
            font-size: 44px;
        }
        h3 {
            font-size: 14px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .cover-section {
        h1,
        h2 {
            font-size: 54px;
        }
        h3 {
            font-size: 18px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .cover-section {
        h1,
        h2 {
            font-size: 54px;
        }
        h3 {
            font-size: 18px;
        }
    }
}
