.cover-section {
    position: relative;
    background: no-repeat center/cover;
    background-image:url(/images/landing-bg.gif);

    color: white;

    * {
        z-index: 10;
    }

    .cover-logo {
        img {
            top: 70px;
            position: absolute;
            height: 31px;
        }
    }

    .btn-primary {
        font-weight: bold;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
        background-color: $highlight-blue !important;
        border-color: $highlight-blue !important;
    }

    .btn-primary:hover {
        background-color: $light-blue !important;
        border-color: $light-blue !important;
    }


    .cover-content {
        text-align: center;
    }
    
    h1 {
        font-size: 54px;
        font-weight: bold;
    }
    h2 {
        font-size: 54px;
    }
    h3 {
        font-size: 18px;
    }
}

.cover-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.15) 50%,
        rgba(0, 0, 0, 0.05) 100%
    );
}