.download-section {
    padding-bottom: 30px;

    h1 {
        text-align: center;
        padding-top: 80px;
        font-size: 24px;
        color: $dark-blue;
        padding-bottom: 24px;
    }

    a {
        font-size: 16px;
        color: $dark-blue;
        padding: 4px 22px;
        margin: 10px 20px;

        img {
            padding-right: 16px;
            height: 22px;
        }
    }

    .downloads-container {
        max-width: 660px;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .download {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            flex-wrap: 0;
            flex-direction: row;
        }
    }
}
