.download-section {

    h1 {
        text-align: center;
        padding-top: 80px;
        font-size: 24px;
        color: $dark-blue;
        padding-bottom: 24px;
    }

    .downloads-container {
        a {
            font-size: 16px;
            color: $dark-blue;
            padding: 4px 22px;
            margin: 10px 20px;
    
            img {
                padding-right: 16px;
                height: 22px;
            }
        }

        max-width: 660px;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .download {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            flex-wrap: 0;
            flex-direction: row;
        }
    }

    .verify {
        max-width: 450px;
        margin: 22px auto;
        font-style: italic;
        color: $p-text-color;
        text-align: center;
    }
}
