.download-section {

    background-color: white;
    color: $dark-blue;
    text-align: center;

    h1 {
        text-align: center;
        padding-top: 80px;
        font-size: 28px;
        color: $dark-blue;
        padding-bottom: 24px;
        max-width: 416px;
        margin: auto;
    }

    .downloads-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        .download {
               
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f1f1f1;
            border: 2px solid #f1f1f1;
            border-radius: 8px;
            font-size: 16px;
            padding: 0;
            margin: 24px;

            .btn-bg {
                background: white;
                border-radius: 0 0 8px 8px;
                font-size: 14px;
                padding-bottom: 12px;
                color: $p-light-gray;
            }
    
            a {
                color: $p-light-gray;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
            a.btn {
                text-decoration: none;
                margin: 1rem 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                font-size: 16px;
                color: white;
            }

            img {
                height: 40px;
                width: 40px;
                margin: 14px 14px 14px 0;
            }
        }

    }

    .altdl {
        padding: 12px;
        font-size: 18px;
        
        a,
        a:visited,
        a:hover,
        a:active {
            font-weight: bold;
            color: $p-light-gray;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }

    }

    .verify {
        max-width: 450px;
        margin: 22px auto;
        font-style: italic;
        color: $p-dark-gray;
        text-align: center;
    }
}
