footer {
  color: #fff;

  .foot-wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: underline;
    color: white;
  }

  .footer-icon {
    padding-right: 23px;
    margin-bottom: 18px;
    height: 42px;
  }

  .supported {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    margin-bottom: 20px;

    .currency {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      img {
        height: 16px;
        width: 16px;
        margin-right: 8px;
      }

      span {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;  
        margin-right: 12px;
      }
    }

  }

  h1 {
    font-size: 34px;
    padding-bottom: 12px;
  }

  p {
    max-width: 331px;
  }

  p, ul {
    margin-bottom: 6px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  li {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li img {
    padding-right: 5px;
  }

  p.larger {
    padding-top: 10px;
    font-size: 16px;
  }

  .light-blue {
    background-color: $light-blue;
  }

  .dark-blue {
    background-color: $footer-blue;
  }

  .bottom-blue {
    background-color: $dark-blue;
  }

  .copyright {
    padding: 40px;

    .container {
      justify-content: space-between;
    }

    font-size: 14px;
  }

  .socials {
    max-width: 300px;
  
    .social {
      margin: 8px 14px;
      display: flex;
      flex-direction: row;

      img {
        height: 23px;
        margin-right: 8px;
      }
    }
  }

  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
