.get-started-section {
  
  h1 {
    padding-top: 30px;
    font-size: 34px;
    color: $highlight-blue;
    padding-bottom: 24px;
  }
  
  .getstartedimg {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .accordion {
    height: 1150px;
    max-width: 460px;

    label {
      font-size: 22px;
    }
    
  }

  // Small devices (Very old phones, 690px and up)
  @media (min-width: 690px) {
    .accordion{
      height: 1000px;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .accordion{
      height: 1000px;
  
      label {
        font-size: 24px;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .getstartedimg {
      padding-top: 40px;
    }
  }
}