.intro-section {
  padding-top: 100px;

  h1 {
      font-size: 16px;
      color: $dark-blue;
      padding-bottom: 4px;
  }

  .accordion {
    height: 700px;

    label {
      font-size: 20px;
    }

    .accordion-body {
      max-width: 573px;
    }

  }

  // Small devices (Very old phones, 690px and up)
  @media (min-width: 690px) {
    .accordion{
      height: 680px;
      label {
          font-size: 30px;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .accordion{
      height: 650px;
      label {
          font-size: 32px;
      }
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .accordion{
      height: 675px;
      label {
          font-size: 36px;
      }
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .accordion{
      height: 670px;
      label {
          font-size: 36px;
      }
    }
  }

}
