@import "colors.scss";
@import "fonts.scss";
@import "accordion.scss";
@import "cover.scss";
@import "intro.scss";
@import "get-started.scss";
@import "downloads.scss";
@import "footer.scss";

html {
  scroll-behavior: smooth;
}

.bold {
  font-weight: bold;
}

.btn-primary {
  font-weight: bold;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: $highlight-blue !important;
  border-color: $highlight-blue !important;
}

.btn-primary:hover {
  background-color: $light-blue !important;
  border-color: $light-blue !important;
}

hr {
  margin: 2rem 0;
  border-top: 2px solid #0003;
}

#decreditonLogo {
  border-radius: 8px;
}

#decreditonLogoText {
  font-size: 65px;
  margin-left: 1rem;
  line-height: 0.8;
  // font-weight: bold;
}