<section class="cover-section">
    <div class="cover">
        
        {{ $bgpng := resources.Get "/images/landing-cover.png" }}
        {{ $bgweb := resources.Get "/videos/landing-cover.webm" }}
        <video playsinline autoplay muted loop poster="{{ $bgpng.Permalink }}" id="bgvid">
            <source src="{{ $bgweb.Permalink }}" type="video/webm">
        </video>

        <div class="container cover-logo">
            {{ $landinglogo := resources.Get "/images/landing-logo.svg" }}
            <img src="{{ $landinglogo.Permalink }}" />
        </div>


        <div class="cover-content">
            <h1>Trade crypto peer-to-peer.</h1>
            <h2>No trading fees. No KYC.</h2>
            <h3>
                <span class="bold">DCRDEX</span> is a
                <span class="bold">decentralized exchange</span>
                built<br />by the Decred Project.
            </h3>
            <div class="mt-4">
                <a class="btn btn-primary" href="#downloads" role="button">Download DCRDEX Client</a>
            </div>
        </div>
        
    </div>

</section>

