<section class="d-flex flex-column vh-100 cover-section">
    
    <div class="container cover-logo">
        <img src="/images/landing-logo.svg" />
    </div>

    <div class="d-flex flex-column h-100 justify-content-center cover-content">
        <h1>Trade crypto person-to-person.</h1>
        <h2>No trading fees. No KYC.</h2>
        <h3>
            <span class="bold">DCRDEX</span> is a
            <span class="bold">decentralized exchange</span>
            built<br />by the Decred Project.
        </h3>
        <div class="mt-4">
        <a class="btn btn-primary" href="" role="button">Launch DCRDEX →</a>
        </div>
    </div>
</section>
