<section class="download-section" id="downloads">
    <div class="container">

        <h1>DCRDEX is available in Decrediton or as a standalone application</h1>
        <h2>v0.6 is now released!</h2>

        <div class="downloads-container">

            {{ $download_links := .Site.Data.wallets.links.release_page_1_6 }}

            <div class="download">
                {{ $winblue := resources.Get "/images/win-blue.svg" }}
                <div>
                    <img src="{{ $winblue.Permalink }}"/>
                    <span>Windows&nbsp;x64</span>
                </div>

                <div class="btn-bg">
                    <a class="btn btn-primary" href="{{ $.Site.Params.win_decrediton_url }}" rel="noopener noreferrer">
                        Download
                    </a>
                    <span>Sorry - no 32-bit</span>
                </div>
            </div>
        
            <div class="download">

                {{ $macblue := resources.Get "/images/mac-blue.svg" }}
                <div>
                    <img src="{{ $macblue.Permalink }}"/>
                    <span>macOS</span>
                </div>

                <div class="btn-bg">
                    <a class="btn btn-primary" href="{{ $.Site.Params.mac_decrediton_url }}" rel="noopener noreferrer">
                        Download
                    </a>
                    <a href="{{ $.Site.Params.m1_decrediton_url }}" rel="noopener noreferrer">
                        Apple Silicon
                    </a>
                </div>
            </div>
        
            <div class="download">

                {{ $linuxblue := resources.Get "/images/linux-blue.svg" }}
                <div>
                    <img src="{{ $linuxblue.Permalink }}"/>
                    <span>Linux&nbsp;x64</span>
                </div>

                <div class="btn-bg">
                    <a class="btn btn-primary" href="{{ $.Site.Params.lin_decrediton_url }}" rel="noopener noreferrer">
                        Download
                    </a>
                    <a href="{{ $.Site.Params.tar_decrediton_url }}" rel="noopener noreferrer">
                        Prefer a tarball?
                    </a>
                </div>
            </div>
        
        </div>

        <div class="altdl">
            <a href="{{ $.Site.Params.dexreleases_url }}" rel="noopener noreferrer">
                Click here to download the standalone DCRDEX application instead&nbsp;&nbsp;↓
            </a>
        </div>
        
        <p class="verify">
            Follow <a href="https://docs.decred.org/advanced/verifying-binaries/" rel="noopener noreferrer">these steps</a>
            to verify that the files you download are legitimate and have not been modified.
        </p>
    
</section>