<footer> 
    <div class="row m-0">
        <div class="col-12 col-lg-6 light-blue d-flex justify-content-center">
            <div class="foot-wrapper">
                {{ $dexlogo := resources.Get "/images/dex-logo.svg" }}
                <img src="{{ $dexlogo.Permalink }}" class="footer-icon">
                <div class="d-flex flex-column">
                    <h1>DCRDEX</h1>
                    <p>
                        DCRDEX currently supports trading pairs for:
                    </p>

                    <ul>
                        <li style="padding-right: 44px;">
                            {{ $decredlogo := resources.Get "/images/decred-logo.svg" }}
                            <img height="12px" src="{{ $decredlogo.Permalink }}" />
                            <span class="bold">Decred</span>
                        </li>
                        <li style="padding-right: 44px;">
                            {{ $btclogo := resources.Get "/images/btc-logo.svg" }}
                            <img height="14px" src="{{ $btclogo.Permalink }}" />
                            <span class="bold">Bitcoin</span>
                        </li>
                        <li>
                            {{ $ltclogo := resources.Get "/images/ltc-logo.svg" }}
                            <img height="12px" src="{{ $ltclogo.Permalink }}" />
                            <span class="bold">Litecoin</span>
                        </li>
                    </ul>

                    <ul>
                        <li style="padding-right: 28px;">
                            {{ $ltclogo := resources.Get "/images/btc-logo.svg" }}
                            <img height="12px" style="transform: rotate(-25deg)" src="{{ $ltclogo.Permalink }}" />
                            <span class="bold">Bitcoin Cash</span>
                        </li>
                        <li style="padding-right: 66px;">
                            <span class="bold">Zcash</span>
                        </li>
                        <li>
                            <span class="bold">Dogecoin</span>
                        </li>
                    </ul>

                    <p>
                        Download Decrediton to access DCRDEX:
                    </p>

                    <ul>
                        <li style="padding-right: 19px;">
                            {{ $win := resources.Get "/images/win.svg" }}
                            <img height="14px" src="{{ $win.Permalink }}" />
                            <a href="{{ $.Site.Params.win_decrediton_url }}" rel="noopener noreferrer">Windows x64</a>
                        </li>
                        <li style="padding-right: 19px;">
                            {{ $mac := resources.Get "/images/mac.svg" }}
                            <img height="14px" src="{{ $mac.Permalink }}" />
                            <a href="{{ $.Site.Params.mac_decrediton_url }}" rel="noopener noreferrer">macOS</a>
                        </li>
                        <li>
                            {{ $linux := resources.Get "/images/linux.svg" }}
                            <img height="14px" src="{{ $linux.Permalink }}" />
                            <a href="{{ $.Site.Params.lin_decrediton_url }}" rel="noopener noreferrer">Linux x64</a>
                        </li>
                    </ul>

                    <p>
                        Or, download the
                        <a href="{{ $.Site.Params.dexreleases_url }}" rel="noopener noreferrer">
                        standalone application</a>.
                    </p>

                    <p class="larger">
                        Want to add your cryptocurrency?
                        <a class="devdocs" href="https://github.com/decred/dcrdex" target="_blank" rel="noopener noreferrer">
                            See Dev Docs → 
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 dark-blue d-flex justify-content-center">
            <div class="foot-wrapper">
                {{ $decredlogo := resources.Get "/images/decred-logo.svg" }}
                <img src="{{ $decredlogo.Permalink }}" class="footer-icon">
                <div class="d-flex flex-column">
                    <h1>Join the Community</h1>
                    <p>
                        Come and help make DCRDEX better, there are many ways to
                        contribute. Join our growing community, where you can connect
                        with developers and other users, get information and ask
                        questions. We can’t wait to meet you!
                    </p>
                    <div class="row socials pt-2">
                        <div class="col-6">
                            <a class="social" href="https://github.com/decred/dcrdex" target="_blank" rel="noopener noreferrer">
                                {{ $iconGithub := resources.Get "/images/iconGithub.svg" }}
                                <img src="{{ $iconGithub.Permalink }}" />
                                <div>GitHub</div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="social" href="https://www.reddit.com/r/decred/" target="_blank" rel="noopener noreferrer">
                                {{ $iconReddit := resources.Get "/images/iconReddit.svg" }}
                                <img src="{{ $iconReddit.Permalink }}" />
                                <div>Reddit</div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="social" href="https://twitter.com/decredproject" target="_blank" rel="noopener noreferrer">
                                {{ $iconTwitter := resources.Get "/images/iconTwitter.svg" }}
                                <img src="{{ $iconTwitter.Permalink }}" />
                                <div>Twitter</div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="social" href="https://chat.decred.org/#/room/#dex:decred.org" target="_blank" rel="noopener noreferrer">
                                {{ $iconMatrix := resources.Get "/images/iconMatrix.svg" }}
                                <img src="{{ $iconMatrix.Permalink }}" />
                                <div>Matrix</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 bottom-blue copyright ">
        <div class="container h-100">
            <div class="row h-100 d-flex align-items-center">
                <div class="col-12 col-lg-6 bold">
                    © 2020-2022 Decred Developers, All Rights Reserved.
                </div>
                <div class="col-12 col-lg-6 text-lg-right">
                    DCRDEX development is funded by
                    <a href="https://proposals.decred.org/proposals/417607a" target="_blank" rel="noopener noreferrer">
                        Decred Project Treasury
                    </a>
                </div>
            </div>
        </div> 
    </div>
</footer>

</body>
</html>