<footer> 
    <div class="row m-0">
        <div class="col-12 col-md-6 light-blue d-flex justify-content-center">
            <div class="foot-wrapper d-flex">
                <img src="/images/footer-dex-logo.png" class="footer-icon">
                <div class="d-flex flex-column">
                    <h1>Launch DCRDEX →</h1>
                    <p>
                        DCRDEX currently supports trading pairs for:
                        <ul>
                            <li>Decred</li>
                            <li>Bitcoin</li>
                            <li>Litecoin</li>
                        </ul>
                    </p>
                    <p>
                        Additional cryptocurrencies including <span
                        class="bold">Ethereum</span> and
                        <span class="bold">Bitcoin Cash</span> will be deployed
                        incrementally in the coming months.
                    </p>
                    <p class="larger">
                        Want to add your cryptocurrency? See Dev Docs → 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 dark-blue d-flex justify-content-center">
            <div class="foot-wrapper d-flex">
                <img src="/images/footer-dex-logo.png" class="footer-icon">
                <div class="d-flex flex-column">
                    <h1>Join the Community</h1>
                    <p>
                        Come and help make DCRDEX better, there are many ways to
                        contribute. Join our growing community, where you can connect
                        with developers and other users, get information and ask
                        questions. We can’t wait to meet you!
                    </p>
                    <div class="row socials">
                        <div class="col-6 social">
                            <img src="/images/iconGithub.svg" />GitHub
                        </div>
                        <div class="col-6 social">
                            <img src="/images/iconReddit.svg" />Reddit
                        </div>
                        <div class="col-6 social">
                            <img src="/images/iconTwitter.svg" />Twitter
                        </div>
                        <div class="col-6 social">
                            <img src="/images/iconMatrix.svg" />Matrix
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 light-blue copyright d-flex align-items-center">
        <div class="container bold">
            © 2020 Decred Developers, All Rights Reserved.
        </div>
    </div>
</footer>

</body>
</html>