<section class="getting-started-section">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="p-3">
                    <img src="/images/getting-started.jpg" />
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">

                <h1>How to Get Started</h1>
                
                <div class="accordion">

                    <input type="radio" name="getting-started-accordion" id="getting-started-accordion-1" checked>
                    <label for="getting-started-accordion-1">
                        <div class="d-flex flex-row align-items-center">
                            <div class="plus-minus">
                                <div class="hznt"></div><div class="vrt"></div>
                            </div>
                            <div>1. Intro</div>
                        </div>
                    </label>
                    <div class="accordion-body">
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                    </div>
                  
                    <input type="radio" name="getting-started-accordion" id="getting-started-accordion-2">
                    <label for="getting-started-accordion-2">
                        <div class="d-flex flex-row align-items-center">
                            <div class="plus-minus">
                                <div class="hznt"></div><div class="vrt"></div>
                            </div>
                            <div>2. Setting up Wallets</div>
                        </div>
                    </label>
                    <div class="accordion-body">
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                    </div>
                  
                    <input type="radio" name="getting-started-accordion" id="getting-started-accordion-3">
                    <label for="getting-started-accordion-3">
                        <div class="d-flex flex-row align-items-center">
                            <div class="plus-minus">
                                <div class="hznt"></div><div class="vrt"></div>
                            </div>
                            <div>3. Account Fee</div>
                        </div>
                    </label>
                    <div class="accordion-body">
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                    </div>
                  
                    <input type="radio" name="getting-started-accordion" id="getting-started-accordion-4">
                    <label for="getting-started-accordion-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="plus-minus">
                                <div class="hznt"></div><div class="vrt"></div>
                            </div>
                            <div>4. Placing Orders</div>
                        </div>
                    </label>
                    <div class="accordion-body">
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                        Step copy up to two three sentences.
                    </div>

                    <div style="flex: 1;"></div>
                </div>

                
            </div>
        </div>
    </div>

</section>
