<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}" {{ end }}>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <!-- SEO and site metadata -->
    <meta name="robots" content="index,follow" /> 
    <meta name="googlebot" content="index,follow" />
    <base href="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
    <meta name="url" content="{{ .Permalink }}" />
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <!-- End SEO -->

    <!-- Styles -->
    {{ $options := (dict "targetPath" "bootstrap.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $bootstrap := resources.Get "css/bootstrap.css" | resources.Fingerprint  }}
    <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">
    
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint  }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!-- End styles -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=oLn96O9Qmr">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=oLn96O9Qmr">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=oLn96O9Qmr">
    <link rel="manifest" href="/site.webmanifest?v=oLn96O9Qmr">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=oLn96O9Qmr" color="#091440">
    <link rel="shortcut icon" href="/favicon.ico?v=oLn96O9Qmr">
    <meta name="apple-mobile-web-app-title" content="DCRDEX">
    <meta name="application-name" content="DCRDEX">
    <meta name="msapplication-TileColor" content="#091440">
    <meta name="theme-color" content="#091440">
    <!-- End favicon -->
    
</head>

<body>