<section class="intro-section">
    <div class="container">
        <h1>A better way to trade.</h1>

        <div class="accordion">

            <input type="radio" name="intro-accordion" id="intro-accordion-1" checked>
            <label for="intro-accordion-1" class="d-flex flex-row align-items-center">
                <div class="plus-minus">
                    <div class="hznt"></div><div class="vrt"></div>
                </div>
                <div>You stay in control of your money.</div>
            </label>
            <div class="accordion-body">
                Your coins always remain in your custody so nobody can steal
                them. Trades complete via atomic swaps.
            </div>
          
            <input type="radio" name="intro-accordion" id="intro-accordion-2">
            <label for="intro-accordion-2" class="d-flex flex-row align-items-center">
                <div class="plus-minus">
                    <div class="hznt"></div><div class="vrt"></div>
                </div>
                <div>We protect your privacy.</div>
            </label>
            <div class="accordion-body">
                No need to verify your ID or even be human, anyone or thing can trade.
            </div>
          
            <input type="radio" name="intro-accordion" id="intro-accordion-3">
            <label for="intro-accordion-3" class="d-flex flex-row align-items-center">
                <div class="plus-minus">
                    <div class="hznt"></div><div class="vrt"></div>
                </div>
                <div>No trading fees.</div>
            </label>
            <div class="accordion-body">
                Trade as much or as little as you want, nobody profits from your activity but you.
            </div>
          
            <input type="radio" name="intro-accordion" id="intro-accordion-4">
            <label for="intro-accordion-4" class="d-flex flex-row align-items-center">
                <div class="plus-minus">
                    <div class="hznt"></div><div class="vrt"></div>
                </div>
                <div>No frontrunning.</div>
            </label>
            <div class="accordion-body">
                Our algorithms prevent big traders from gaining an advantage and ripping you off.
            </div>

            <input type="radio" name="intro-accordion" id="intro-accordion-5">
            <label for="intro-accordion-5" class="d-flex flex-row align-items-center">
                <div class="plus-minus">
                    <div class="hznt"></div><div class="vrt"></div>
                </div>
                <div>No gatekeepers.</div>
            </label>
            <div class="accordion-body">
                Assets can be added by any developer. We don't choose winners and losers.
            </div>

            <div style="flex: 1;"></div>
        </div>
    </div>
</section>
